<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tennis Scoreboard Tracker</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="container">
        <div class="wrapper">
            <nav>
                <a href="#">Home</a>
            </nav>
        </div>
    </header>
    <main class="container">
        <div class="wrapper">
            <div class="site-information">
                <h1 class="application-name">Welcome to Tennis Score Tracking Application</h1>
                <h2 class="application-description">Create, track and save results of tennis matches</h2>
            </div>

            <div class="buttons-container">
                <a class="redirect-button" th:href="@{/new-match}">Create new match</a>
                <a class="redirect-button" th:href="@{/matches}">Show completed matches</a>
            </div>
        </div>
    </main>
    <footer class="container">
        <div class="wrapper">
            <section class="copyright-description">Korostelev Danila, personal project, 2025</section>
        </div>
    </footer>
</body>
</html>