<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tennis Score Tracker</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <h1>Добро пожаловать на Теннисную Таблицу</h1>
        <p>Управляйте теннисными матчами, подсчитывайте результаты и просматривайте уже сыгранные матчи</p>

        <div>
            <a href="/new-match">
                <button>Начать новую игру</button>
            </a>
            <button>Посмотреть сыгранные матчи</button>
        </div>
    </body>

</html>