<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tennis Scoreboard Tracker</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="container">
        <div class="wrapper">
            <nav>
                <a href="#">Home</a>
            </nav>
        </div>
    </header>
    <main class="container">
        <div class="wrapper">
            <h1>Create new match</h1>

            <form method="post" th:action="@{/new-match}" name="create_match_form">
                <p class="player-name-input">
                    <label class="player-name">First Player Name</label>
                    <input class="text-input" type="text" name="firstPlayerName">
                </p>

                <p class="player-name-input">
                    <label class="player-name">Second Player Name</label>
                    <input class="text-input" type="text" name="secondPlayerName">
                </p>

                <input class="post-match-button" type="submit" value="Create match">
            </form>
        </div>
    </main>
    <footer class="container">
        <div class="wrapper">
            <section class="copyright-description">Korostelev Danila, personal project, 2025</section>
        </div>
    </footer>
</body>
</html>